.App {
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
}

.parsed-element {
    display: inline-block;
    border: 1px dashed #eee;
    padding: 5px;
    margin: 5px;
}

.parsed-element-name {
    color: #aaa;
}

.task-list {
    margin-top: 20px;
}

.task-item .invalid {
    background: #faa;
}

.task-item input {
    width: 600px
}