.App {
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
}

.parsed-element {
    display: inline-block;
    /*border: 1px dashed #eee;*/
    padding: 5px;
    margin: 5px;
}

.parsed-element-name {
    color: #aaa;
}

.task-list {
    margin-top: 20px;
}

.task-item .invalid {
    background: #faa;
}

.task-item input {
    width: 490px;
    /*border: 0;*/
    padding: 2px 7px;
}

.summary b {
    font-size: 1.4em;
}

.summary p {
    margin-bottom: 5px;
}